:root {
    --color-bg: #141024;
    /* --container-max-width: 1160px; */
    --container-max-width: clamp(58.75rem, 43.804rem + 23.913vw, 72.5rem);
    --header-max-width: 1480px;
    --color-red: #D52027;
    --color-red-light: #ffd2d4;
    --modal-max-width: 940px;
    --modal-max-height: 768px;
    --card-image-max-width: clamp(17.5rem, 15.595rem + 9.524vw, 22.5rem);
    --default-font-size: 16px;
    --page-inline-padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BASE MARKUP */
html {
    background-color: var(--color-bg);
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
    font-size: var(--default-font-size);

    body {
        position: relative;

    }

    a {
        text-decoration: none;
    }

}

html.no-scroll {
    overflow: hidden;
}

/* HEADER */
header {
    width: 100%;
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;

    >.header-container {
        margin-inline: auto;
        padding: 0 clamp(1.875rem, -2.88rem + 7.609vw, 6.25rem);
        max-width: var(--header-max-width);
    }

    a {
        position: relative;

        &.logo {
            color: white;
            font-size: 2rem;
            font-weight: 700;
            line-height: 48px;
        }

        &.call-number {
            color: white;
            font-size: 2rem;
            font-weight: 600;
            line-height: 3rem;
            text-wrap: nowrap;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            top: -4px;
            left: 0;
            height: 1px;
            background: white;
            transform-origin: left;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            right: 0;
            bottom: -4px;
            height: 1px;
            background: white;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        &:hover {

            &::after,
            &::before {
                transform: scaleX(1);
            }
        }
    }

    .mobile-btns {
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
    }

}

.mobile-btns button,
.menu-close-btn {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background: linear-gradient(#141024dc, #141024) padding-box,
        linear-gradient(0deg, #ffffff07, #ffffff7a) border-box;
    border: 1px solid transparent;
    transition: background .2s ease;
    cursor: pointer;

    svg path,
    svg line {
        stroke: white;
        transition: fill .2s, stroke .2s;
    }

    &:hover,
    &:active {
        background: linear-gradient(#1b162ddc, #1a152c) padding-box,
            linear-gradient(0deg, var(--color-red), var(--color-red)) border-box;

        svg path,
        svg line {
            fill: var(--color-red);
            stroke: var(--color-red);
        }
    }
}


/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;

    >.link {

        color: white;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 32px;
        text-wrap: nowrap;

    }
}

/* CONTAINER */
.container {
    /* padding: 0 clamp(1.875rem, -2.88rem + 7.609vw, 6.25rem); */
    max-width: var(--container-max-width);
    width: 100%;
    height: 100%;
    margin-inline: auto;

    &>.copyright {
        display: none;
    }
}


/* TEXT */

h1 {
    font-size: clamp(4rem, 1.5rem + 1.5vw, 4.375rem);
    font-weight: 600;
    line-height: 1;
}

h2 {
    font-size: clamp(1.875rem, 1.399rem + 2.381vw, 3.125rem);
    font-weight: 600;
    line-height: clamp(2.625rem, 1.72rem + 4.524vw, 5rem);
}

h3 {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 3rem;
}

h4 {
    font-size: clamp(1.25rem, 1.155rem + 0.476vw, 1.5rem);
    font-weight: 600;
    line-height: clamp(2rem, 1.857rem + 0.714vw, 2.375rem);
}

p,
li {
    font-weight: 300;
    font-size: clamp(1rem, 0.952rem + 0.238vw, 1.25rem);
    line-height: 2rem;

}

p {
    font-size: 1.125rem;
}

span {
    font-weight: 400;
    font-size: clamp(1rem, 0.952rem + 0.238vw, 1.125rem);
    line-height: clamp(1.65rem, 1.357rem + 0.714vw, 1.875rem);
}

/* modificators */
.subtitle {
    font-size: 1.25rem;
}

.light {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #141024a9;
}

/* ELEMENTS */
@-webkit-keyframes vanish {

    0%,
    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes vanish {

    0%,
    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.just-validate-error-label {
    -webkit-animation: vanish 2s forwards;
    animation: vanish 2s forwards;
}

.cta-button {
    &.mobile {
        display: none;
        max-width: 420px;
        margin-inline: auto;
        text-align: center;
    }

    font-size: 1.25rem;
    font-weight: 300;
    text-wrap: nowrap;
    display: flex;
    padding: 1.45rem 3.4rem;
    border-radius: 5px;
    background-color: var(--color-red);
    border: 2px solid var(--color-red);
    color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    cursor: pointer;
    transition: color .2s ease-out,
    background-color .15s ease-out;

    p{
        font-size: 1.25rem;
    }

    &:hover {
        background-color: white;
        color: var(--color-red);
        svg path{
            fill: var(--color-red);
        }
    }
}

/* SECTIONS */
section {
    background-color: white;
    overflow: hidden;

    .header-place {
        width: 100%;
        height: 108px;
        background-color: var(--color-bg);
    }

    /* HERO */
    &.hero {
        color: white;
        background-color: var(--color-bg);

        .container {
            height: calc(100% - 108px);

            .text {
                text-wrap: balance;
            }
        }

        .hero__left {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            >.info-block {
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
                width: 100%;
                padding-bottom: 10rem;
                padding-right: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3rem;

                h1 {
                    line-height: 1;
                }
            }
        }

        .hero__right {
            pointer-events: none;
            height: 100%;
            width: 100%;
            position: relative;
            overflow: visible;
            /* display: flex;
            flex-direction: column;
            justify-content: end; */

            >img {
                position: absolute;
                bottom: 0;
                left: -3rem;
                height: 95%;
                aspect-ratio: 783 / 917;

            }
        }
    }

    /* DETAILS */
    &.details {
        padding: clamp(3.75rem, 2.321rem + 7.143vw, 7.5rem) 0;

        .text {
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            font-size: 2rem;
            line-height: 3rem;
            font-weight: 400;

            strong {
                font-weight: 600;
            }
        }

        .stats {
            display: flex;
            justify-content: flex-start;
            gap: clamp(2rem, -0.717rem + 4.348vw, 4.5rem);

            .block {
                min-width: 200px;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                max-width: calc(var(--container-max-width) / 3.5);

                h1 {
                    margin-bottom: 5px;
                    text-wrap: nowrap;
                }

                p {
                    text-wrap: balance;
                }
            }
        }

    }

    /* RESULTS */
    &.results {
        background-color: #F9F9F9;
        padding: clamp(1rem, 1rem + 6vw, 6rem) 0;

        .blocks {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: clamp(1.5rem, 1.637rem + 1.19vw, 2.5rem);

            .block {
                h4 {
                    margin-bottom: 1.2rem;
                }

                span {
                    text-wrap: balance;
                }
            }


        }
    }

    /* TUTORS */
    &.tutors {
        background-color: white;
        padding: clamp(3.75rem, 2.321rem + 7.143vw, 7.5rem) 0 clamp(3.75rem, 2.474rem + 6.381vw, 7.1rem);

        .card {
            .image {
                aspect-ratio: 360 / 500;
                height: 100%;
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content;
                max-width: var(--card-image-max-width);
                background-repeat: no-repeat;
                background-size: 1;
                border-radius: 20px;

            }

            .name {
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 2.235rem;
            }

            .details-btn {
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.75rem;
                color: var(--color-red);
                background: none;
                border: none;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                cursor: pointer;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    top: -4px;
                    left: 0;
                    height: 1px;
                    background: var(--color-red);
                    transform-origin: left;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    right: 0;
                    bottom: -4px;
                    height: 1px;
                    background: var(--color-red);
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                }

                &:hover {

                    &::after,
                    &::before {
                        transform: scaleX(1);
                    }
                }
            }
        }

        /* SWIPER */
        .swiper {
            max-width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            gap: 4rem;

            .swiper-slide {
                display: block;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                overflow: visible;
            }

            .swiper-navigation-block {
                width: 100%;
                height: 100%;

                .swiper-scrollbar {
                    float: left;
                    left: 0;
                    bottom: 20px;
                    height: 6px;
                    max-width: clamp(18.75rem, 17.321rem + 7.143vw, 22.5rem);
                }

                .swiper-navigation {
                    position: relative;
                    float: right;
                    right: 10px;

                    .swiper-button-prev,
                    .swiper-button-next {
                        all: unset;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        background-repeat: no-repeat;
                        background-size: 1;


                        &:hover svg {
                            opacity: .8;
                        }

                        &:active svg {
                            opacity: 1;

                            path {
                                fill: var(--color-red);
                            }

                        }

                        svg {
                            transition: opacity .2s ease-out;
                            cursor: pointer;
                        }

                        &::after {
                            all: unset;
                        }
                    }


                }
            }

        }
    }

    /* PLANS */
    &.plans {
        padding-bottom: 7.1rem;

        .plans-list {
            display: flex;
            gap: 2.5rem;
            align-items: center;
            padding: 0;
            justify-content: center;
            align-items: center;

            .card-wrapper {
                display: flex;
                align-items: center;
                width: 100%;
                min-width: 17.5rem;
                max-width: var(--card-image-max-width);
                aspect-ratio: 360/500;
            }

            .card-plan {
                min-width: 17.5rem;
                max-width: var(--card-image-max-width);
                width: 100%;
                /* min-height: 390px; */
                height: 100%;
                max-height: 460px;
                /* aspect-ratio: 360/460; */
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 1px solid #14102433;
                border-radius: 20px;
                position: relative;
                will-change: height;
                transition: max-height .2s ease-out, color .1s ease-out, background-color .1s ease-out;

                h2 {
                    text-wrap: nowrap;
                    font-size: 3.125rem !important;
                    line-height: 5rem !important;
                }


                &:hover {
                    background-color: var(--color-bg);
                    color: white;
                    max-height: 500px;
                    aspect-ratio: 360/500;
                }


                .card-content {
                    padding: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                }

                .plan-content {
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    text-align: center;
                    max-height: 140px;
                    height: 100%;
                    gap: 1.5rem;
                }

                .button-cta {
                    background-color: var(--color-red);
                    color: white;
                    width: 100%;
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    font-weight: 400;
                    padding: 1.6rem 0;
                    text-align: center;
                    border-radius: 5px;
                    cursor: pointer;
                }


            }
        }
    }

    /* FORM */
    &.form {
        position: relative;
        z-index: 0;
        padding: 5rem 0;
        background-color: var(--color-red);

        .container {
            max-width: 1040px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.5rem;
        }

        &::after {
            content: '%%%%%%%%%%%%%%';
            font-size: 158px;
            font-weight: 600;
            letter-spacing: .5rem;
            opacity: .1;
            position: absolute;
            height: 100px;
            width: 110%;
            color: white;
            bottom: 3.3rem;
            left: -1rem;
            z-index: -1;
        }

        .form-label {
            display: flex;
            flex-direction: column;
            padding-top: 2rem;
            gap: 1rem;
            color: white;

            h3 {
                font-size: 2.25rem;
                line-height: 2.875rem;
            }
        }

        .form-action {
            padding: .5rem 0;

            form {
                display: grid;
                gap: .8rem;
                width: 100%;
                max-width: 400px;
                margin-inline: auto;

                button:hover{
                    cursor: pointer;
                    transition: background-color .2s, color .2s;
                    background-color: white;
                    color: var(--color-bg);
                }

                label {
                    display: grid;

                    .just-validate-error-label {
                        color: white !important;
                    }
                }

                input {
                    padding: 1.3rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    border: 2px solid white;
                    color: #282944B2;
                    flex: 1;


                }

                button {
                    display: grid;
                    place-content: center;
                    padding: 1.25rem;
                    font-size: 1.125rem;
                    border: 1px solid var(--color-bg);
                    background-color: var(--color-bg);
                    border-radius: 5px;
                    color: white;


                }
            }
        }
    }

}

/* FOOTER */
footer {
    background-color: var(--color-bg);
    padding: 40px 0;
    overflow: hidden;
    color: white;

    .container {
        max-width: calc(100% - 200px);
        margin-inline: auto;
        display: flex;
        justify-content: space-between;

        a {
            color: white;
        }
    }

    .contacts a h3 {
        font-size: clamp(1.25rem, 0.65rem + 1.75vw, 1.875rem);
    }
}




a:focus,
button:focus {
    outline: none;
}

input,
button,
a {

    &:focus-visible {
        outline: 3px solid rgb(86, 123, 227)
    }
}

input {
    background-position: right calc(.375em + .1875rem) center;
    background-repeat: no-repeat;
    background-size: 1.5rem;

    &.just-validate-error-field {
        color: var(--color-red) !important;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23B81111'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23B81111' stroke='none'/%3E%3C/svg%3E");
    }

    &.just-validate-success-field {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    }
}


/* INFO HINT */
.hint {
    display: flex;
}

.tooltip {
    position: relative;
    width: 0;

    .info {
        position: relative;
        display: inline-flex;
        top: -4px;
        right: -10px;
        font-size: 1rem;
        background-color: #14102414;
        border-radius: 100%;
        width: 1.5rem;
        height: 1.5rem;

        justify-content: center;
        align-items: center;
        line-height: 1rem;
        cursor: pointer;

        &::before {
            content: 'i';
        }

        &:hover {
            +.info-hint {
                opacity: 1;
            }

        }

    }

    .info-hint {
        position: absolute;
        top: -66px;
        left: 10px;
        text-wrap: nowrap;
        font-size: 1rem;
        font-weight: 400;
        line-height: 25px;
        background-color: white;
        padding: 15px 20px;
        border-radius: 5px;
        box-shadow: 0px 2px 8px 0px #1410241A;
        opacity: 0;
        transition: opacity .2s ease-in-out;

    }
}




/* COLORS */
.red {
    color: var(--color-red);
}

/* LAYOUT */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-4 {
    gap: 4rem;
}

.space-between {
    justify-content: space-between;
}

.layout-16-9 {
    aspect-ratio: 16/9;
}


.menu {
    position: fixed;
    inset: 0;
    background: var(--color-bg);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-out;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    &.open {
        visibility: visible;
        opacity: 1;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        a {
            color: white;
            font-size: 4rem;
            font-weight: 600;
        }
    }

    .menu-close-btn {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}


/* MODAL */
.modal {
    position: fixed;
    inset: 0;
    border: none;
    max-width: var(--modal-max-width);
    max-height: var(--modal-max-height);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;

    background-color: white;
    border: 1px solid #1410241C;
    border-radius: 20px;
    padding: 40px;

    pointer-events: all;
    transition: opacity .4s;
    opacity: 0;

    &[open] {
        opacity: 1;

        @starting-style {
            opacity: 0;
        }
    }

    &::-webkit-backdrop {
        background-color: rgb(0 0 0 / 0.6);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    &::backdrop {
        background-color: rgb(0 0 0 / 0.6);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    .content-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 98%;
            height: 25px;
            background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95));
        }

        .modal-profile {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 40px;

            img.profile-avatar {
                border-radius: 20px;
                max-width: 180px;
                aspect-ratio: 3/4;
                -o-object-fit: cover;
                object-fit: cover;
                overflow: hidden;
            }

            .profile-info {
                display: flex;
                flex: 1;
                flex-direction: column;
                gap: 10px;
            }

            .social-btn {
                opacity: 1;
                transition: opacity .2s ease-in-out;
                background: none;
                border: none;

                svg {
                    overflow: visible;

                    &:hover {
                        opacity: .8;
                        cursor: pointer;
                    }

                    &:active {
                        path {
                            fill: var(--color-red);
                        }

                        opacity: 1;

                    }
                }

            }

            .close-btn-box {
                .close-btn {
                    background: none;
                    border: none;
                    font-size: 1.125rem;
                    font-weight: 400;
                    line-height: 1.6rem;
                    color: #141024aa;
                    transition: color .2s ease-out;
                    padding: 2px;

                    &:hover {
                        color: var(--color-red);
                        cursor: pointer;
                    }
                }
                .close-btn-mobile{
                    display: none;
                }
            }


        }

        .modal-tabs {
            height: 100%;
            box-sizing: border-box;

            .tabs-header {
                box-sizing: border-box;
                list-style: none;
                display: flex;
                justify-content: space-between;
                gap: 15%;
                width: 100%;
                /* padding-bottom: 20px; */
                height: 53px;
                border-bottom: 1.5px solid #1410242e;
                margin-bottom: 1rem;

                li {
                    width: 100%;

                    &.active>button {
                        color: var(--color-red) !important
                    }

                    button {
                        text-decoration: none;
                        color: #14102454;
                        transition: color .2s ease-in;
                        background: none;
                        border: none;
                        font-size: 1.25rem;
                        line-height: 2rem;
                        cursor: pointer;
                        padding: 2px;

                        &:hover:not(:active) {
                            color: #141024;
                        }

                        &:active {
                            color: var(--color-red);
                        }
                    }
                }
            }

            .tabs-content {
                position: relative;
                overflow-y: auto;
                max-height: 340px;

                .tab {

                    height: calc(100% - 1rem);
                    -webkit-animation: fadeEffect 1s;
                    animation: fadeEffect 1s;
                    display: none;

                    &.active {
                        display: block;
                    }

                    ul {
                        list-style: disc inside;
                    }

                    li {
                        list-style-image: '-';
                        margin: .5rem 0;
                    }

                }


                h4 {
                    padding-top: 40px;
                    padding-bottom: 20px;
                }

            }
        }


    }

}

.tabs-header-mobile {
    display: none;
}



/* KEYFRAMES */

/* Go from zero to full opacity */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes scroll {
    to {
        transform: translateX(-100%);
    }
}

@keyframes scroll {
    to {
        transform: translateX(-100%);
    }
}




/* MEDIA QUERYS */
@media (max-width: 1000px) and (min-width: 540.1px) {
    .container {
        max-width: calc(100vw - calc(2 * var(--page-inline-padding)));
        padding-inline: var(--page-inline-padding);
        box-sizing: border-box;
    }

    header {
        .header-container {
            padding: 0 30px !important;
        }

        nav {
            display: none;
        }

        a.call-number {
            display: none;
        }

        a.logo {
            font-size: 1.125rem !important;
        }

        .mobile-btns {
            display: flex !important;
        }
    }

    section.hero {
        min-height: -webkit-fit-content;
        min-height: -moz-fit-content;
        min-height: fit-content;

        &.layout-16-9 {
            aspect-ratio: unset !important;
        }

        .mobile {
            display: block !important;
        }

        .header-place {
            height: 0;
        }
    }

    section.hero .container {
        flex-direction: column !important;
        gap: 0 !important;


        .hero__left {
            margin-top: 108px;
            text-align: center;
            margin-inline: auto;
            width: 80%;

            p {
                text-wrap: balance;
            }

            .cta-button-container {
                display: flex;
                justify-content: center;

                .cta-button {
                    padding: 1rem 4rem;
                }
            }


            .info-block {
                gap: 2rem !important;
                padding-bottom: 3rem;
                padding-right: 0;
            }


        }

        .hero__right {
            position: relative;
            display: flex;
            justify-content: center;
            /* margin-bottom: 40px; */

            img {
                height: auto;
                position: static;
                width: clamp(50%, 11rem + -9.6vw, 70%);
            }

            .cta-button-container {
                display: none !important;
            }
        }
    }

    section.details {
        .container>.stats {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            /* place-items: center; */
            align-items: baseline;
        }
    }

    section.plans {
        padding-bottom: 4rem;

        .container>.plans-list {
            flex-wrap: wrap;
            gap: 1.5rem;
        }
    }

}



@media (max-width: 540px) {
    :root {
        --card-image-max-width: 280px;
        --page-inline-padding: 10px;
    }

    main div.container {
        padding: unset;
        padding-inline: unset;
    }

    div.header-place {
        height: 5rem;
    }

    header {
        padding: 10px 0;

        .header-container {
            padding: 0 10px !important;
        }

        nav {
            display: none;
        }

        a.call-number {
            display: none;
        }

        a.logo {
            font-size: 1.525rem !important;
        }

        .mobile-btns {
            display: flex !important;
        }
    }

    main {

        h1,
        h2,
        h3,
        h4,
        span {
            text-align: center;
            text-wrap: balance;
        }

        span,
        p {
            font-weight: 300 !important;
            line-height: 1.8;
        }

        .subtitle {
            font-size: 1.3rem;
        }

        .gap-4 {
            gap: 40px;
        }

        .container {
            max-width: calc(100vw - calc(2 * var(--page-inline-padding)));
            padding-inline: var(--page-inline-padding);
            box-sizing: border-box;
        }

        .hero {
            min-height: -webkit-fit-content;
            min-height: -moz-fit-content;
            min-height: fit-content;
        }

        .hero .container {
            flex-direction: column !important;
            gap: 0 !important;

            .cta-button-container {
                display: none;
            }


            .hero__left {
                margin-top: 4rem;
                text-align: center;
                margin-inline: auto;
                width: 90%;

                .info-block {
                    gap: 2rem !important;
                    padding-bottom: 1rem;
                    padding-right: 0;

                    h1 {
                        font-size: 2.5rem;
                    }
                }

            }

            .hero__right {
                position: relative;
                display: flex;
                justify-content: center;
                margin-bottom: 40px;

                img {
                    height: auto;
                    position: static;
                    width: 91%;
                }

                .cta-button-container {
                    position: absolute;
                    display: flex;
                    bottom: 0;
                    z-index: 100;
                    width: 100%;


                    .cta-button {
                        width: 100% !important;
                        height: 100%;
                        pointer-events: all;
                        height: 60px;
                        padding: unset;
                        place-content: center;
                    }
                }
            }
        }



        section.details {
            padding: 60px 0;

            .text {
                font-size: 1.7rem;
                line-height: 1.6;
            }

            .stats {
                margin-top: 1rem;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 40px;

                .block {
                    h1 {
                        margin-bottom: 1.5rem;
                        font-size: 5rem;
                    }

                    p.light {
                        font-size: 1.3rem;
                        line-height: 1.6;
                    }
                }

            }
        }

        section.results {

            .blocks {
                margin-inline: auto;
                max-width: 85%;
                text-align: center;
                display: grid;
                grid-template-columns: unset;
                grid-template-rows: auto auto auto;
                margin-top: 2rem;
                gap: 3rem;

                .block {
                    h4 {
                        margin-bottom: 1rem;
                        line-height: 1;
                        font-size: 1.7rem;
                    }

                    p {
                        font-size: 1.3rem;
                    }
                }

                h4.hint {
                    justify-content: center;

                    .tooltip {
                        height: 0;

                        .info {
                            top: -8px;
                            right: -15px;
                        }

                        .info-hint {
                            left: unset !important;
                            right: -20vw !important;
                        }
                    }
                }
            }
        }

        section.tutors {
            padding-bottom: 2rem;
            .card {
                .image {
                    height: unset;
                    max-width: 220px;
                }

                .name {
                    font-size: 1.7rem;
                }
            }

            .swiper-scrollbar {
                max-width: 100% !important;
            }

            .swiper-navigation {
                display: none;
            }
        }

        section.plans {
            padding-bottom: 4rem;

            .plans-list {
                flex-direction: column;
                height: auto;
                gap: 1rem;

                .card-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    aspect-ratio: 5/7;

                    .card-plan {
                        max-height: 380px;
                        /* width: min-content; */


                        .card-content {
                            padding: 30px;

                            h2 {
                                text-wrap: nowrap;
                            }

                            .button-cta {
                                height: 60px;
                                padding: 0;
                                place-content: center;
                            }
                        }



                    }

                }
            }
        }

        section.form {
            padding: 0;

            .container{
                gap: 2rem
            }

            .form-action form{
                gap: .5rem;
            }

            &::after {
                content: '';
            }

            .container {
                max-width: calc(100% - 2 * var(--page-inline-padding));
                grid-template-columns: unset;
                grid-template-rows: auto 1fr;

                .form-label {
                    text-align: center;
                    padding-top: 1.5rem;

                    h3 {
                        font-weight: 500;
                        font-size: 1.8rem;
                        line-height: 1.5;
                    }

                    p.subtitle {
                        line-height: 1.2;
                        text-wrap: balance;
                    }
                }

                form .submit {
                    padding: 0;
                    height: 60px;
                }

            }
        }

    }



    footer {
        .container {
            flex-direction: column;
            max-width: calc(100% - 20px);
            text-align: center;
            gap: 1.2rem;

            .company .copyright {
                display: none;
            }

            a h3 {
                font-weight: 500;
            }

        }
    }

    .mobile {
        display: block !important;
    }

    .layout-16-9 {
        aspect-ratio: unset !important;
    }

    .just-validate-error-label {
        display: none !important;
    }

    section.details,
    section.results,
    section.tutors,
    section.plans {
        padding-top: 3rem;

        h2 {
            font-size: 2.5rem;
        }
    }

    .modal-tabs ul.tabs-header {
        display: none !important;
    }

    .modal-tabs .tabs-header-mobile {
        display: block;
        margin-bottom: 1rem;
        position: relative;

        .cta-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
            border-radius: 0;
            padding: 1rem 2rem;
            position: relative;

            span {
                font-size: 1.2rem;
                anchor-name: --text;
            }

            svg {
                position: absolute;
                position-anchor: --text;
                right: calc(anchor(right) - 15px);
                top: calc(anchor(top) + 5px);
            }

            &.active {
                svg {
                    transform: rotateZ(180deg);
                }
            }

        }

        ul.tabs-options {
            position: absolute;
            display: none;
            border: 2px solid var(--color-red);
            width: 100%;
            background: white;
            z-index: 3;

            &.open {
                display: block;
            }

            li {
                padding: 1rem 2rem;
                font-size: 1.2rem;
                text-align: center;
                /* border-bottom: 1px solid rgb(222, 222, 222); */

                &:hover {
                    background-color: var(--color-red-light);
                    cursor: pointer;
                }
            }
        }
    }


    .modal-profile {
        gap: 1rem !important;

        img.profile-avatar{
            max-width: 120px !important;
        }

        .close-btn-box .close-btn {
            display: none;
        }
        .close-btn-box .close-btn-mobile{
            color: #141024;
            display: block !important;
            padding: 1rem;
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .menu-item:hover{
        transition: color .2s ease-out;
        color: var(--color-red);
    }

}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    :root {
        --container-max-width: 980px;
        --header-max-width: 1280px;
        --default-font-size: 14px;
    }
}


@media (hover: none) {

    /* Для прямого ввода */
    .mobile-btns button:hover,
    button.menu-close-btn:hover {
        background: linear-gradient(#141024dc, #141024) padding-box,
            linear-gradient(0deg, #ffffff07, #ffffff7a) border-box;

        svg path,
        svg line {
            fill: white;
            stroke: white;
        }
    }

    header a:hover,
    button:hover {

        &::after,
        &::before {
            transform: scaleX(0) !important;
        }
    }

    button.cta-button {
        background-color: var(--color-red) !important;
        color: white !important;
    }
}