:root {
    --color-bg: #141024;
    --container-max: 1160px;
    --color-red: #D52027;
    --modal-max-width: 940px;
    --modal-max-height: 768px;
    
}

* {
    margin: 0;
    padding: 0;
}



html {
    background-color: var(--color-bg);
    font-family: 'Jost', sans-serif;

    body {
        position: relative;

    }

    a {
        text-decoration: none;
    }

}

header {
    width: 100%;
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;

    >.header-container {
        margin-inline: auto;
        margin: 0 100px;
    }

    a {
        position: relative;
        &.logo {
            color: white;
            font-size: 2rem;
            font-weight: 700;
            line-height: 48px;
        }

        &.call-number {
            color: white;
            font-size: 2rem;
            font-weight: 600;
            line-height: 3rem;
            text-wrap: nowrap;
        }

        &::before{
            content: '';
            position: absolute;
            width: 100%;
            top: -4px;
            left: 0;
            height: 1px;
            background: white;
            transform-origin: left;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            right: 0;
            bottom: -4px;
            height: 1px;
            background: white;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        &:hover{
            &::after,&::before{
                transform: scaleX(1);
            }
        }
    }
}




nav {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;

    >.link {
        
        color: white;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        text-wrap: nowrap;

    }
}


.container {
    max-width: var(--container-max);
    width: 100%;
    height: 100%;
    margin-inline: auto;

}


/* TEXT */

h1 {
    font-size: 70px;
    font-weight: 600;
}

h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 2rem;

}
span {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

/* modificators */
.subtitle {
    font-size: 20px;
}

.light{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #141024a9;
}




/* SECTIONS */
section {
    background-color: white;
    overflow: hidden;

    &.hero {
        color: white;
        background-color: var(--color-bg);

        .hero__left {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            >.info-block {
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
                width: 100%;
                padding-bottom: 2.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3rem;

                h1 {
                    line-height: 3rem;
                }

                .cta-button {
                    padding: 1.45rem 3.4rem;
                    border-radius: 5px;
                    background-color: var(--color-red);
                    border: 2px solid var(--color-red);
                    color: white;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    height: -webkit-fit-content;
                    height: -moz-fit-content;
                    height: fit-content;
                    cursor: pointer;
                    transition: color .2s ease-out, background-color .15s ease-out;

                    &:hover {
                        background-color: white;
                        color: var(--color-red);
                    }
                }
            }
        }

        .hero__right {
            pointer-events: none;
            height: 100%;
            width: 100%;
            position: relative;
            overflow: visible;
            /* display: flex;
            flex-direction: column;
            justify-content: end; */

            >img {
                position: absolute;
                bottom: 0;
                left: -3rem;
                height: 85%;
                aspect-ratio: 783 / 917;

            }
        }
    }

    &.details {
        padding: 7.5rem 0;

        .text {
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            font-size: 2rem;
            line-height: 3rem;
            font-weight: 400;

            strong {
                font-weight: 600;
            }
        }

        .stats {
            display: flex;
            justify-content: flex-start;
            gap: 4.5rem;

            .block {
                min-width: 200px;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                max-width: calc(var(--container-max) / 3.5);

                h1 {
                    margin-bottom: 5px;
                }

                span {
                    /* text-wrap: balance; */
                    text-wrap: nowrap;
                }
            }
        }

    }

    &.results {
        background-color: #F9F9F9;
        padding: 6rem 0;

        .blocks {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2.5rem;

            .block {
                h4 {
                    margin-bottom: 1.2rem;
                }

                span {
                    text-wrap: balance;
                }
            }


        }
    }

    &.tutors {
        background-color: white;
        padding: 7.5rem 0 7.1rem;

        .card {
            .image {
                aspect-ratio: 360 / 500;
                height: 100%;
                max-width: 360px;
                background-repeat: no-repeat;
                background-size: 1;
                border-radius: 20px;

            }

            .name {
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 38px;
            }

            .details-btn {
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                color: var(--color-red);
                background: none;
                border: none;
                width: fit-content;
                cursor: pointer;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    top: -4px;
                    left: 0;
                    height: 1px;
                    background: var(--color-red);
                    transform-origin: left;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    right: 0;
                    bottom: -4px;
                    height: 1px;
                    background: var(--color-red);
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                }

                &:hover{
                    &::after,&::before{
                        transform: scaleX(1);
                    }
                }
            }
        }

        /* SWIPER */
        .swiper {
            max-width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            gap: 4rem;

            .swiper-slide {
                width: -webkit-fit-content !important;
                width: -moz-fit-content !important;
                width: fit-content !important;
            }

            .swiper-navigation-block {
                width: 100%;
                height: 100%;

                .swiper-scrollbar {
                    float: left;
                    left: 0;
                    bottom: 20px;
                    height: 6px;
                    max-width: 360px;
                }

                .swiper-navigation {
                    position: relative;
                    float: right;
                    right: 10px;

                    .swiper-button-prev,
                    .swiper-button-next {
                        all: unset;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        background-repeat: no-repeat;
                        background-size: 1;


                        &:hover svg {
                            opacity: .8;
                        }

                        &:active svg {
                            opacity: 1;

                            path {
                                fill: var(--color-red);
                            }

                        }

                        svg {
                            transition: opacity .2s ease-out;
                            cursor: pointer;
                        }

                        &::after {
                            all: unset;
                        }
                    }

                    /* .swiper-button-prev {
                        svg{
                            cursor: pointer;
                        }
                    }

                    .swiper-button-next {
                        svg{
                            cursor: pointer;
                        }
                    } */


                }
            }

        }
    }

    &.plans {
        padding-bottom: 7.1rem;

        .plans-list {
            display: flex;
            gap: 40px;
            align-items: center;
            padding: 0;
            justify-content: center;
            align-items: center;
            height: 500px;

            .card-plan {
                max-width: 360px;
                width: 100%;
                height: 460px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 1px solid #14102433;
                border-radius: 20px;
                position: relative;
                will-change: height;
                transition: height .2s ease-out, color .1s ease-out, background-color .1s ease-out;

                &:hover {
                    background-color: var(--color-bg);
                    color: white;
                    height: 500px;
                }


                .card-content {
                    padding: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                }

                .plan-content {
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    text-align: center;
                    max-height: 140px;
                    height: 100%;
                    gap: 1.5rem;
                }

                .button-cta {
                    background-color: var(--color-red);
                    color: white;
                    width: 100%;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 400;
                    padding: 1.6rem 0;
                    text-align: center;
                    border-radius: 5px;
                    cursor: pointer;
                }


            }
        }
    }

    &.form {
        position: relative;
        z-index: 0;
        padding: 5rem 0;
        background-color: var(--color-red);

        .container {
            max-width: 1040px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.5rem;
        }

        &::after {
            content: '%%%%%%%%%%%%%%';
            font-size: 158px;
            font-weight: 600;
            letter-spacing: .5rem;
            opacity: .1;
            position: absolute;
            height: 100px;
            width: 110%;
            color: white;
            bottom: 3.3rem;
            left: -1rem;
            z-index: -1;
        }

        .form-label {
            display: flex;
            flex-direction: column;
            padding-top: 2rem;
            gap: 1rem;
            color: white;

            h3 {
                font-size: 36px;
                line-height: 46px;
            }
        }

        .form-action {
            padding: .5rem 0;

            form {
                display: grid;
                gap: .8rem;
                width: 100%;

                label {
                    display: grid;

                    .just-validate-error-label {
                        color: white !important;
                    }
                }

                input {
                    padding: 1.3rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    border: 2px solid white;
                    color: #282944B2;
                    flex: 1;


                }

                button {
                    display: grid;
                    place-content: center;
                    padding: 1.25rem;
                    font-size: 18px;
                    border: 1px solid var(--color-bg);
                    background-color: var(--color-bg);
                    border-radius: 5px;
                    color: white;


                }
            }
        }
    }

}


footer {
    background-color: var(--color-bg);
    padding: 40px 0;
    overflow: hidden;
    color: white;

    .container {
        max-width: calc(100% - 200px);
        margin-inline: auto;
        display: flex;
        justify-content: space-between;

        a {
            color: white;
        }
    }
}


a:focus,button:focus{outline: none;}
input,
button,
a {

    &:focus-visible {
        outline: 3px solid rgb(86, 123, 227)
    }
}

input {
    background-position: right calc(.375em + .1875rem) center;
    background-repeat: no-repeat;
    background-size: 1.5rem;

    &.just-validate-error-field {
        color: var(--color-red) !important;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23B81111'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23B81111' stroke='none'/%3E%3C/svg%3E");
    }

    &.just-validate-success-field {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    }
}


/* INFO HINT */
.hint{
    display: flex;
}
.tooltip{
    position: relative;
    .info {
        position: relative;
        display: inline-flex;
        top: -4px;
        right: -10px;
        font-size: 1rem;
        background-color: #14102414;
        border-radius: 100%;
        width: 1.5rem;
        height: 1.5rem;
        
        justify-content: center;
        align-items: center;
        line-height: 1rem;
        cursor: pointer;
    
        &::before {
            content: 'i';
        }
    
        &:hover {
            +.info-hint{
                opacity: 1;
            }
            
        }
    
    }
    .info-hint {
        position: absolute;
        top: -66px;
        left: 10px;
        text-wrap: nowrap;
        font-size: 1rem;
        font-weight: 400;
        line-height: 25px;
        background-color: white;
        padding: 15px 20px;
        border-radius: 5px;
        box-shadow: 0px 2px 8px 0px #1410241A;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    
    }
}




/* COLORS */
.red {
    color: var(--color-red);
}

/* LAYOUT */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-4 {
    gap: 4rem;
}

.space-between {
    justify-content: space-between;
}

.layout-16-9 {
    aspect-ratio: 16/9;
}





.modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.3);
    z-index: 999;
    /* opacity: 1;
    transition: opacity .2s ease-in;
    pointer-events: auto;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    pointer-events: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;


    /* &:target{
        opacity: 1;
        pointer-events: auto;
    } */


    .modal-content{
        box-sizing: border-box;
        background-color: white;
        border: 1px solid #1410241C;
        border-radius: 20px;
        padding: 40px;
        /* width: var(--modal-max-width);
        height: var(--modal-max-height); */
        max-width: var(--modal-max-width);
        max-height: var(--modal-max-height);
        pointer-events: all;


        .content-wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            overflow: hidden;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 98%;
                height: 25px;
                background-image: linear-gradient(rgba(255, 255, 255, 0.55),rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95));
            }

            .modal-profile{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                gap: 40px;

                img.profile-avatar{
                    border-radius: 20px;
                    max-width: 180px;
                    aspect-ratio: 3/4;
                    object-fit: cover;
                    overflow: hidden;
                }

                .profile-info{
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    gap: 10px;
                }

                .social-btn{
                    opacity: 1;
                    transition: opacity .2s ease-in-out;
                    background: none;
                    border: none;

                    svg{
                        overflow: visible;

                        &:hover{
                            opacity: .8;
                            cursor: pointer;
                        }
    
                        &:active{
                            path{
                                fill: var(--color-red);
                            }
                            opacity: 1;
                            
                        }
                    }
                    
                }
                .close-btn-box{
                    .close-btn{
                        background: none;
                        border: none;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 1.6rem;
                        color: #141024aa;
                        transition: color .2s ease-out;
                        padding: 2px;
    
                        &:hover{
                            color: var(--color-red);
                            cursor: pointer;
                        }
                    }
                }
                

            }

            .modal-tabs{
                height: 100%;
                box-sizing: border-box;

                .tabs-header{
                    box-sizing: border-box;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    gap: 15%;
                    width: 100%;
                    /* padding-bottom: 20px; */
                    height: 53px;
                    border-bottom: 1.5px solid #1410242e;
                    margin-bottom: 1rem;

                    li{
                        width: 100%;

                        button{
                            text-decoration: none;
                            color: #14102454;
                            transition: color .2s ease-in;
                            background: none;
                            border: none;
                            font-size: 20px;
                            line-height: 2rem;

                            &:hover{
                                color: #141024;
                            }

                            &:active{
                                color: var(--color-red);
                            }
                        }
                    }
                }

                .tabs-content{
                    position: relative;
                    overflow-y: scroll;
                    max-height: 340px;

                    .tab{
                        height: calc(100% - 1rem);
                    }

                
    
                    h4{
                        padding-top: 40px;
                        padding-bottom: 20px;
                    }
                    
                }
            }

            
        }
        
    }
}